.component.product-view-modal .body {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.component.product-view-modal .body .sales {
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.component.product-view-modal .body .graph,
.component.product-view-modal .body canvas {
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.component.product-view-modal .body .metrics,
.component.product-view-modal .body .metrics .mse,
.component.product-view-modal .body .metrics .r2 {
  display: flex;
  flex: 1;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.component.product-view-modal .body .options,
.component.product-view-modal .body .options form {
  display: flex;
  flex: 1;
  flex-flow: row;
  height: 100%;
  width: 100%;
}

.component.product-view-modal .body .options fieldset {
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin: 0vh 2vh 2vh 2vh;
}
.component.product-view-modal .body .options button {
  margin: 0vh 2vh 2vh 2vh;
}
