root {
  --blue: #007bff;
  --font-title: #001933;
  --body-text: #666666;
}

/* Interested */
.interested {
  margin-top: 120px;
}

.interested {
  background: var(--blue);
  height: 778px;
  position: relative;
}

.our-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 275px;
}

.interested h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 138.2%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 16px;
}

.interested p {
  line-height: 138.2%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #e0e0e0;
  margin-bottom: 40px;
}

.interested .button {
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--blue) !important;
  box-shadow: 0px 25px 35px -5px rgba(250, 250, 250, 0.16);
  background: #fff;
}

.interested .button:hover {
  background: #003166;
  color: #ffffff !important;
  border: 1px solid #003166 !important;
}

.interested .button:active {
  background: #004ea1 !important;
  color: #ffffff !important;
}

.awan-kiri {
  width: 100%;
  position: absolute;
  left: 0;
}

.awan-kanan {
  width: 100%;
  position: absolute;
  right: 0;
  left: 14.5px;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  p {
    font-size: 18px !important;
  }

  /* Interested */
  .interested h1 {
    font-size: 40px !important;
  }
}

@media (max-width: 600px) {
  /* Intrested */
  .awan-kiri {
    overflow-x: hidden;
    z-index: 999;
  }

  .awan-kanan {
    display: none !important;
  }
}
