@media (min-width: 768px) {
  .page.account-profile {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4vh 8vh 4vh 8vh;
  }

  .page.account-profile .image img {
    max-width: 12%;
    object-fit: contain;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .page.account-profile {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2vh 4vh 2vh 4vh;
  }

  .page.account-profile .image img {
    max-width: 30%;
    object-fit: contain;
  }
}

.page.account-profile .title {
  min-height: 0;
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 0 0 4vh 0;
}

.page.account-profile .image {
  min-height: 0;
  display: flex;
  flex: 3;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 0 0 4vh 0;
}
.page.account-profile .form {
  min-height: 0;
  display: flex;
  flex: 6;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.page.account-profile .form form {
  width: 100%;
}

.page.account-profile .form button {
  margin: 4vh 0 0 0;
  width: 100%;
}
