@media (min-width: 768px) {
  .page.item-forecast {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .page.item-forecast .header {
    min-height: 0;
    display: flex;
    flex: 2;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vh 2vh 2vh;
    width: 100%;
    height: 100%;
  }

  .page.item-forecast .header .left-section {
    display: flex;
    flex: 8;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .page.item-forecast .header .right-section {
    display: flex;
    flex: 2;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .page.item-forecast .body {
    min-height: 0;
    display: flex;
    flex: 8;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .page.item-forecast .card {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 2vh 2vh 2vh;
    max-width: 23%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .page.item-forecast {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .page.item-forecast .header {
    min-height: 0;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vh 2vh 2vh;
    width: 100%;
    height: 100%;
  }

  .page.item-forecast .header .left-section {
    display: flex;
    flex: 7;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  .page.item-forecast .header .right-section {
    display: flex;
    flex: 3;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .page.item-forecast .body {
    min-height: 0;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .page.item-forecast .card {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 2vh 2vh 2vh;
    max-width: 40%;
  }
}

.page.item-forecast .header .left-section .description {
  color: gray;
}

.page.item-forecast .header .right-section .control button img {
  max-width: 30%;
  margin: 0 2vh 0 0;
}

.page.item-forecast .card .code,
.page.item-forecast .card .name,
.page.item-forecast .card .quantity,
.page.item-forecast .card .image {
  width: 100%;
  height: 100%;
}

.page.item-forecast .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page.item-forecast .content {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2vh 2vh 2vh 2vh;
  width: 100%;
  height: 100%;
}

.page.item-forecast .content .code {
  font-weight: bold;
}

.page.item-forecast .content .quantity {
  color: #007bff;
}

.page.item-forecast .content .control {
  margin: 2vh 0 0 0;
}

.component.item-view-modal .body .options,
.component.item-view-modal .body .options form {
  display: flex;
  flex: 1;
  flex-flow: row;
  height: 100%;
  width: 100%;
}

.component.item-view-modal .body .options fieldset {
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin: 0vh 2vh 2vh 2vh;
}
.component.item-view-modal .body .options button {
  margin: 0vh 2vh 2vh 2vh;
}

.component.item-view-modal .body .metrics,
.component.item-view-modal .body .metrics .mse,
.component.item-view-modal .body .metrics .r2 {
  display: flex;
  flex: 1;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
