@media (min-width: 768px) {
  .page.product-management {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .page.product-management .header {
    min-height: 0;
    display: flex;
    flex: 2;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vh 2vh 2vh;
    width: 100%;
    height: 100%;
  }

  .page.product-management .header .left-section {
    display: flex;
    flex: 8;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .page.product-management .header .right-section {
    display: flex;
    flex: 2;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .page.product-management .body {
    overflow: auto;
    min-height: 0;
    display: flex;
    flex: 8;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .page.product-management .card {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 2vh 2vh 2vh;
    max-width: 22%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .page.product-management {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .page.product-management .header {
    min-height: 0;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vh 2vh 2vh;
    width: 100%;
    height: 100%;
  }

  .page.product-management .header .left-section {
    display: flex;
    flex: 7;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  .page.product-management .header .right-section {
    display: flex;
    flex: 3;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .page.product-management .body {
    min-height: 0;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .page.product-management .card {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 2vh 2vh 2vh;
    max-width: 40%;
  }
}

.page.product-management .header .left-section .description {
  color: gray;
}

.page.product-management .header .right-section .control button img {
  max-width: 30%;
  margin: 0 2vh 0 0;
}

.page.product-management .card .content .code,
.page.product-management .card .content .name,
.page.product-management .card .content .quantity,
.page.product-management .card .image {
  width: 100%;
  height: 100%;
}

.page.product-management .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page.product-management .card .content {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2vh 2vh 2vh 2vh;
  width: 100%;
  height: 100%;
}

.page.product-management .card .card .content .code {
  font-weight: bold;
}

.page.product-management .card .card .content .quantity {
  color: #007bff;
}

.page.product-management .card .card .content .control {
  margin: 2vh 0 0 0;
}
