@media (min-width: 768px) {
  .page.product-transaction-history {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .page.product-transaction-history .header {
    min-height: 0;
    display: flex;
    flex: 2;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vh 2vh 2vh;
    width: 100%;
    height: 100%;
  }

  .page.product-transaction-history .header .left-section {
    display: flex;
    flex: 8;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .page.product-transaction-history .header .right-section {
    display: flex;
    flex: 2;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .page.product-transaction-history .body {
    min-height: 0;
    display: flex;
    flex: 8;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .page.product-transaction-history {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .page.product-transaction-history .header {
    min-height: 0;
    display: flex;
    flex: 6;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vh 2vh 2vh;
    width: 100%;
    height: 100%;
  }

  .page.product-transaction-history .header .left-section {
    display: flex;
    flex: 7;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  .page.product-transaction-history .header .right-section {
    display: flex;
    flex: 3;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .page.product-transaction-history .body {
    min-height: 0;
    display: flex;
    flex: 4;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.page.product-transaction-history .header .left-section .description {
  color: gray;
}

.page.product-transaction-history .header .right-section .control button img {
  max-width: 30%;
  margin: 0 2vh 0 0;
}

.page.product-transaction-history .card {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 2vh 2vh 2vh 2vh;
  width: 95%;
}

.page.product-transaction-history .card .image {
  display: flex;
  flex: 0 0 15%;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page.product-transaction-history .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page.product-transaction-history .card .content {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh 2vh 2vh 2vh;
  width: 100%;
  height: 100%;
}

.page.product-transaction-history .card .content .code,
.page.product-transaction-history .card .content .name,
.page.product-transaction-history .card .content .quantity {
  width: 100%;
  height: 100%;
}

.page.product-transaction-history .card .content {
  display: flex;
  flex: 4;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.page.product-transaction-history .card .content .code {
  font-weight: bold;
}

.page.product-transaction-history .card .content .quantity {
  color: #007bff;
}

.page.product-transaction-history .card .control button {
  margin: 0 2vh 0 0;
  width: 100%;
  height: 100%;
}

.page.product-transaction-history .card .control {
  display: flex;
  flex: 1;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
