.page.register {
  display: flex;
  flex: 1;
  flex-flow: row;
}

.page.register .left-section {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
}

.page.register .left-section .logo {
  display: flex;
  flex: 1;
}

.page.register .left-section .splash {
  display: flex;
  flex: 3;
}

.page.register .right-section {
  display: flex;
  flex: 3;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
