.component.item-insert-modal .body {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.component.item-insert-modal .body .form form fieldset {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.component.item-insert-modal .body .form,
.component.item-insert-modal .body .form form {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.component.item-insert-modal .body .form form .row {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 0 2vh 0;
}

.component.item-insert-modal .body .form form .row fieldset {
  margin: 0vh 1vh 0vh 1vh;
}

@media (min-width: 768px) {
}

@media (min-width: 0px) and (max-width: 768px) {
  .component.item-insert-modal {
  }
}
