.component.item-detail-modal .body {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.component.item-detail-modal .body div {
  margin: 0 0 0.5vh 0;
}

.component.item-detail-modal .body .image {
  display: flex;
  flex: 1;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.component.item-detail-modal .body .image img {
  margin: 0 0 0 1vh;
  max-width: 80%;
}
