* {
  box-sizing: border-box;
}

body {
  /* margin: 1% 2% 0% 2%; */
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  /* text-align: center; */
  font-style: normal;
  font-weight: normal;
  /* font-family: "proxima_novaregular", sans-serif; */
  /* overflow-y: scroll; */
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
